.menu-nav {
  display: flex;
  gap: 17px;
  justify-content: center;
  padding: 24px 23px;
  align-items: center;

  .btn:nth-child(2) {
    padding-right: 78.27px;
  }
  @media (min-width: $screen-lg) {
    justify-content: flex-start;

    .btn:nth-child(2) {
      padding-right: 118.45px;
    }
  }
}
