.menu-container {
  grid-area: aside;
  width: 320px;
  max-width: 360px;
  height: 100%;
  flex-shrink: 0;
  background: #fff;
  position: fixed;
  left: -350px;
  transition: all 0.3s ease;
  top: 0;
  z-index: 100;
  overflow-y: scroll;
  overflow-x: hidden;
  box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2);

  @media (min-width: $screen-lg) {
    position: static;
    box-shadow: none;
    display: block;
    overflow: hidden;
  }
  &--active {
    left: 0;
    transition: 0.3s ease-in-out;
  }
}
