.modal-call {
  width: 320px;
  height: 100%;
  flex-shrink: 0;
  background: #fff;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(2000px);
  transition: all 0.3s ease-in-out;
  z-index: 100;
  box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2),
    -2px 0px 4px 0px rgba(69, 79, 126, 0.02);

  &__input {
    width: 268px;
    border-radius: 8px;
    border: 1px solid #eaeaea;
    height: 48px;
    flex-shrink: 0;
    background: #fff;
    padding-left: 12px;
  }

  @media (min-width: $screen-md) {
  }

  @media (min-width: $screen-lg) {
    width: 440px;

    &__input {
      width: 388px;
      border-radius: 8px;
      border: 1px solid #eaeaea;
      height: 48px;
      flex-shrink: 0;
      background: #fff;
      padding-left: 12px;
    }
  }

  &--active {
    display: block;
    right: 0;
    transform: translateX(0px);
    transition: all 0.3s ease;
  }
}
