.nav-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-basis: 0;
  gap: 40px;

  @media (min-width: $screen-lg) {
    display: inline-block;

    .btn {
      position: absolute;
      left: -60px;
      top: 20px;
    }
  }

  .btn {
    align-self: flex-start;
  }
  h2 {
    display: flex;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
    letter-spacing: -0.6px;
    align-items: center;
    gap: 12px;
    font-family: $font-bold;
    position: relative;
    margin: 0;
    padding-bottom: 24px;

    &::before {
      content: url(../img/highlight.svg);
      width: 3px;
      height: 40px;
      flex-shrink: 0;
      position: absolute;
      left: -16px;
    }
  }
}
